<div class="card" style="margin-bottom: 30px;">
  <p-button (click)="show()" label="Görev Ekle" icon="pi pi-plus" [style]="{width: '160px', backgroundColor: '#f14d06ad', color: '#fff', 'border-radius': '12px' }"></p-button>

</div>
<!-- Filtreleme Dropdown -->
<div class="filter-container">
  <p-dropdown [options]="statusOptions" [(ngModel)]="selectedStatus" optionLabel="label" optionValue="value" (onChange)="filterTasksByStatus(selectedStatus)" placeholder="Duruma göre filtrele"  [style]="{width: '180px', backgroundColor: '#f14d06ad', color: '#fff', 'border-radius': '12px' }" ></p-dropdown>
</div>

<!-- Görevler Listesi -->
<div class="table-container">
  <p-table [value]="tasks" [paginator]="true" [rows]="5" [responsive]="true" [scrollable]="true" scrollHeight="flex" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th>Detay</th>
        <th *ngFor="let col of colDefs">{{ col.header }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task>
      <tr>
        <td>
          <p-button (click)="goToDetail(task.id)" label="Detay" icon="pi pi-info-circle" [text]="true" [raised]="true" severity="warning" [style]="{color:'#f14d06ad'}"></p-button>
        </td>
        <td>{{ task.userName }}</td>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.createAt | date:'dd.MM.yy HH:mm' }}</td>
        <td><p-tag [severity]="getSeverity(task.status)">{{ getStatusLabel(task.status) }}</p-tag></td>


        <td>
          <p-button (click)="deleteTask(task.id)" icon="pi pi-trash" [text]="true" [raised]="true" severity="warning" [style]="{color:'#f14d06ad'}"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
